//色変数定義
$c-main:      #707070;
$c-primary:   #CA970B;
$c-secondary: #807DA8;
$c-tertiary:  #F2F3F8;
$c-accent:    #330867;
$c-dark:      #050521;
$c-dim:       #000304;
$c-black:     #000000;
$c-shadow:    #00000024;
$c-warning:   #bf0404;
$c-white:     #FFFFFF;
$c-light:     #b8c2f5;

//ブレークポイント
$w-breakpoint: 750;

//インナー幅
$w-sm: 800px;
$w-md: 934px;
$w-lg: 1086px;
$w-xl: 1366px;

//インナー幅左右padding
$w-padding: 5%;